.modal{
    background-color: white;
    border: 2px solid black;
    height:70%;
    width:50%;
    margin-left:20vw;
    margin-top:10vh;
    position: absolute;
    z-index: 9999;
    overflow-y: auto;
}

.close{
    cursor: pointer;
    float: right;
    margin-right: 1vw;
}